<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="cappuccino">
                        <h4 class="title">Icons Demo</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
					<div class="card-content">
					   <md-card>
						  <md-card-content>
						  
								<div class="demo-icon">
								  <p>
									These are some icons.
								  </p>

								  <p>
									By name registered with MdIconProvider:
									<md-icon svgIcon="thumb-up" class="green"></md-icon>
									<md-icon svgIcon="thumb-up"></md-icon>
								  </p>

								  <p>
									From icon set:
									<md-icon svgIcon="core:alarm"></md-icon>
									<md-icon svgIcon="core:accessibility"></md-icon>
									<md-icon svgIcon="core:alarm"></md-icon>
								  </p>

								  <p>
									Ligature from Material Icons font:
									<md-icon>home</md-icon>
								  </p>

								  <p>
									Using a theme:
									<md-icon color="primary">home</md-icon>
									<md-icon color="accent">home</md-icon>
									<md-icon color="warn">home</md-icon>
								  </p>

								  <p>
									Custom icon font and CSS:
									<md-icon fontSet="fontawesome" fontIcon="fa-birthday-cake"></md-icon>
								  </p>
								</div>

														
							
						  </md-card-content>
						</md-card>
						
					</div>			
                </div>
            </div>
        </div>
    </div>
</div>
