<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="cappuccino">
                        <h4 class="title">Checkbox Demo</h4>
                        <p class="category">Here is a subtitle for this table</p>
                    </div>
					
					<div class="card-content">
					   <md-card>
						  <md-card-content>
						  
								<div class="main-content">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-12">
										<div class="card">
											
										   <md-card>
										  <md-card-content>
											<h2 class="example-h2">Checkbox configuration</h2>

											<section class="example-section">
											  <md-checkbox class="example-margin" >Checked</md-checkbox>
											  <md-checkbox class="example-margin" >Indeterminate</md-checkbox>
											</section>

											<section class="example-section">
											  <label class="example-margin">Align:</label>
											  <md-radio-group>
												<md-radio-button class="example-margin" value="start">Start</md-radio-button>
												<md-radio-button class="example-margin" value="end">End</md-radio-button>
											  </md-radio-group>
											</section>

											<section class="example-section">
											  <md-checkbox class="example-margin">Disabled</md-checkbox>
											</section>
										  </md-card-content>
										</md-card>

										<md-card class="result">
										  <md-card-content>
											<h2 class="example-h2">Result</h2>

											<section class="example-section">
											  <md-checkbox
												  class="example-margin"
												 
												  >
												I'm a checkbox
											  </md-checkbox>
											</section>
										  </md-card-content>
										</md-card>
											
										</div>
									</div>
								</div>
							</div>
						</div>
											
							
							
							
						  </md-card-content>
						</md-card>
						
					</div>			
                </div>
            </div>
        </div>
    </div>
</div>
